#!/usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_NAME=check-growth

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="nosetests3 {dir}/" dh_auto_test


